<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  <title>Document</title>
    <title>Profile</title>
    <style>
      .container {
        max-width: 600px;
        margin-top: 50px;
      }
    </style>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="jumbotron jumbotron-fluid  bg-#FFFFFF ">
        <div class="container" style="height: 3rem;">
            <h2 class="text-center mb-4 ">My Profile</h2>
        </div>
       </div>
        <table class="table table-#FFFFFF">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Address</th>
                  <th scope="col">Role</th>
                  <th scope="col">Manage</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0 ; i < exuser.length ; i++) { %>
                <tr>
                  <th scope="row"><%=i+1%></th>
                  <td><%=exuser[i].Fullname%></td>
                  <td><%=exuser[i].email %></td>
                  <td><%=exuser[i].Address %></td>
                  <td><%=exuser[i].role %></td>
                  
                  <td><a class="btn btn-warning me-2" href="/WeatherApp/editUserPage/<%=exuser[i]._id%>">Edit</a></td>
                  <td><a class="btn btn-light me-2" href="/WeatherApp/deleteUser/<%=exuser[i]._id%>">Delete</a></td>

                </tr>
                <%}%>
              </tbody>
          </table>
         
</div>
</body>
</html>